.panel {
   height: calc(100vh - 4rem);

}

.tollbar {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 1rem;

   padding: 1rem 2rem;

   & button {
      all: unset;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      padding: .5rem 1rem;

      background: var(--primary);
      border-radius: .25rem;

      & p {
         color: var(--white);
         font-size: 18px;
      }
   }

   & .trash {
      display: none;
      background: var(--secondary);
   }
}