.header {
   display: flex;
   align-items: center;
   justify-content: space-between;

   height: 4rem;
   padding: 0 2rem;

   background: var(--surface);
}

.logo {
   display: flex;
   align-items: center;
   gap: .5rem;

   & h1 {
      color: var(--white);
      font-size: 1.8rem;
      font-weight: 400;
   }
}

.header-left {
   display: flex;
   align-items: center;
   gap: 1rem;

   & button {
      all: unset;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      padding: .5rem 1rem;

      background: var(--primary);
      border-radius: .25rem;

      cursor: pointer;

      & p {
         color: var(--white);
         font-size: 18px;
      }
   }
}